# Database
DATABASE_URL="postgresql://movienight:movienight@db:5432/movienightdb?schema=public"

# Auth.js
AUTH_SECRET="change-me-to-a-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"

# TMDB API (https://www.themoviedb.org/settings/api)
TMDB_API_KEY="your-tmdb-api-read-access-token"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
